@tailwind base;
@tailwind components;
@tailwind utilities;

.doctors-card{
  max-width: 450px
  
}
.h-400 {
  height: 700px;
}

.select:focus{
  border-color: rgb(3, 19, 3);
}

.img-width{
  width: 50px;
}

img-crop{
  border-radius: 100%;
}

.control-div{
  position: relative;
  left: 50%
}

.visiblity {
    position: relative;
    bottom: 32px;
    left: 90%;
}

.login-input{
  min-width: 300px;
}

.no-margin{
  margin-top: -23px;
}

.my-checkbox:checked {
  background-color: red !important;
}

.schedule:disabled {
background-color: grey;
}

.forgot-password{
  position: relative;
}

html, body {
  overflow-x: hidden;
  /* white-space: nowrap; Optional: Prevent line breaks */
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
